@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80vw;
    margin: auto;
    background-color: #111B21;
    border: 2px solid #222E35;
}

#menu-cabecalho {
    display: flex;
}

header {
    background-color: #202C33;
    display: flex;
    height: 60px;
    margin: auto;
    margin-top: 16px;
    width: 80vw;
    border: 2px solid #111b2100;
}

.user-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    width: 440px;
}

.user-photo,
.user-photo>img {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.user-area-menu {
    height: 30px;
    width: 148px;
}

.user-area-menu ul {
    display: flex;
}

.user-area-menu ul li img {
    filter: brightness(0) invert(1);
    height: 30px;
    margin: 0px 3px;
    width: 30px;
}

.contat-photo,
.contat-photo>img {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.menu-right-itens>li>img {
    filter: brightness(0) invert(1);
    height: 30px;
    margin: 0px 3px;
    width: 30px;

}

.menu-right-itens {
    display: flex;
    margin-left: 850px;
}

.contact {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

}

li {
    list-style-type: none;
}

span {
    color: white;
    font-size: 16px;
    font-weight: bold;


}


.list-contacts {
    width: 440px;
    display: flex;
    border-bottom: 1px solid lightslategrey;


}

.search-bar {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    margin-left: 30px;
    background-color: #222E35;
    margin: 10px;

}

.position-contacts{
    color: white;
    background-color: #111B21;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.name-contacts {
    color: white;
    background-color: #111B21;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: flex-start;
}

img {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.color-msg{
    color: rgb(182, 175, 175);
}

.visto{
    color: lightgrey;
    font-size: 12px;
}

