@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80vw;
    margin: auto;
}

header {
    display: flex;
}

body>header {

    background-color: #202C33;
    display: flex;
    position: relative;
    margin: auto;
}

body>header>ul {
    display: flex;
}

.conversa {
    display: flex;
    position: relative;
    width: 100%;
}

.name-contato {
    background-color: red;
    width: 100%;
    position: fixed;
    display: block;


}


.contatos{
    margin: 10px;
}
.foto-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
}

.menu {

    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    width: 700px;
}

.menu-navegacao {
    list-style-type: none;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    justify-content: center;
    padding: 10px;
    background-color: lightgray;
    border-radius: 50px;
}



ul {
    list-style-type: none;
}


#barra-peqsuisa {
    background-color: #111B21;
    display: flex;
    position: relative;
}

#pesquisa {
    width: 350px;
    height: 35px;
    background-color: #111B21;
    border-radius: 5px;
}

#mensagem {
    background-color: #111B21;
    width: 450px;
}


#mensagem>ul {
    width: 100%;
}


.contatos {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#amigos {
    position: fixed;
    display: flex;
    background-color: red;
}

span {
    color: white;
    justify-content: center;
    position: fixed;
    align-items: center;
}


.alinhamento-contatos {
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    width: 50px;

}

.position {
    justify-content: center;
    position: fixed;
}

.nome-contato {
    position: fixed;
    justify-content: flex-start;


}

.position-cotatos {
    display: flex;
    position: relative;

}

.position-name {

    flex-direction: row;
    align-items: center;
    position: relative;
    width: 500px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px;

}

hr {
    background-color: lightgray;
}

.position-cotato-aberto {
    background-color: #202C33;
    display: flex;
    position: relative;
}