@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



@media screen and (max-width: 1024px) {
    .conversa-aberta > p{
        width: 320px;
    }
}

@media screen and (max-width: 1024px) {
    .list-contacts{
        width:320px;
    }
}


@media screen and (max-width: 1024px) {
    .position-search{
        width:320px;
    }
}
@media screen and (max-width: 1024px) {
    .campo-texto-rodape{
        width:320px;
    }
}




.responsividade-li{
    width: 100%;
}

body {
    width: 80vw;
    height: 100%;
    margin: auto;
    background-color: #111B21;
    border: 2px solid #222E35;
}

#menu-cabecalho {
    display: flex;
}

header {
    background-color: #202C33;
    display: flex;
    height: 60px;
    margin: auto;
    margin-top: 16px;
    width: 80vw;
    border: 2px solid #111b2100;
}

#contatos{
    width: 100%;
}

.user-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    width: 400px;
}

.user-photo,
.user-photo>img {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

.user-area-menu {
    height: 30px;
    width: 148px;
}

.user-area-menu ul {
    display: flex;
}

.user-area-menu ul li img {
    filter: brightness(0) invert(1);
    height: 30px;
    margin: 0px 3px;
    width: 30px;
}

.contat-photo,
.contat-photo>img {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.menu-right{

}

.menu-right-itens>li>img {
    filter: brightness(0) invert(1);
    height: 30px;
    margin: 0px 3px;
    width: 30px;

}

.menu-right-itens {
    display: flex;
}

main {
    display: flex;
    width: 100%;
}

.contact {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

}

li {
    list-style-type: none;
}

.position-search {
    display: flex;
}

.search {
    width: 400px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    background-color: #202C33;
    border: 1px solid #202C33;
    margin-left: 10px;
    margin-top: 10px;

}

.filtro {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 5px;
    padding: 5px;
    filter: brightness(0) invert(1);
    color: lightgray;

}

.icon-search {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    padding: 5px;
    color: lightgray;
}

.alinhamento-search {
    display: flex;
}

span {
    color: white;
    font-size: 16px;
    font-weight: bold;


}


.list-contacts {
    display: flex;
    border-bottom: 1px solid lightslategrey;
    width: 100%;

}

.list-last-contacts {
    width: 440px;
    display: flex;
}

.search-bar {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    margin-left: 30px;
    background-color: #222E35;
    margin: 10px;

}

.position-contacts {
    color: white;
    background-color: #111B21;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.name-contacts {
    color: white;
    background-color: #111B21;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: flex-start;
}

.img-icons {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.color-msg {
    color: rgb(182, 175, 175);
}


.visto {
    color: lightgrey;
    font-size: 12px;
    margin-right: 10px;
}

.fundo {
    background-color: #131a1f;
    background-image: url(img/fundo.webp);
}

.conversa-aberta {
    color: white;
    display: block;
    width: 100vw;
    height: 80vh;

}



.responsividade{
    width: 100%;
}

.left {
    margin-left: 50px;
    background-color: #202C33;
    border-radius: 0px 20px 20px 20px;
    padding:  10px;
    margin: auto;
}

.right {
    text-align: right;
    color: white;
    background-color: #005C4B;
    border-radius: 20px 0px 20px 20px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 10px;


}

.tamanho-meme {
    width: 250px;
    height: 250px;
    margin-left: 50px;

}

.horario {
    font-size: 12px;
    color: lightgray;
    padding: 5px;
}

.tamanho-print {
    width: 330px;
    height: 186px;
}



.icones-campo-texo {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
    margin: 10px;
}

.campo-texto {
    width: 920px;
    height: 50px;
    border-radius: 10px;
    background-color: #2A3942;
    margin: 5px;
    border: 1px solid lightgray;
}

.rodape {
    background-color: #202C33;
}

.campo-texto-rodape {
    display: flex;
    align-items: center;
}
br{
    margin: 20px;
}